body {
    background-color: #e6c984;
    
  }
h2{
    margin-top: 12.5vh;
    font-size: 3rem;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
.deck-wrapper{
    
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    width: fit-content;
    height: fit-content;
    border: solid 4px rgb(102, 70, 49);
    border-radius: 1vmin;

}

.col-border{
    box-shadow: -3px 0px 0px 0px   rgb(102, 70, 49);
}

.row-3{
    border-bottom: solid 3px rgb(102, 70, 49);
}

.col{
    padding: 20px 20px 20px;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    border: solid rgb(146, 112, 68) 1px;
    gap : 20px;
    font-size: 16px;
    margin: 0;
}

.input-box{
    width:3rem;
    transition: ease-in-out, width .25s ease-in-out;
    aspect-ratio: 1;
    text-align: center;
    border: none;
    background-color: #ce9560;
    font-size: 1.5rem;
    font-family: 'Courier New', Courier, monospace;
    color :#e0daa9;
    caret-color: transparent;
}

:focus { 
    outline: solid rgb(146, 112, 68) 2px;
    background-color: #eebb85; 
    color: #666;
    width: 3.3rem;
    z-index: 999;
}

.page-footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(52, 51, 68);
    color: white;
    text-align: center;;
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
}

.play-btn{
    font-size: 1.75rem;
    width: 19rem;
    height: 4rem;
    font-family: 'Courier New', Courier, monospace;
}

.fa-lg{
    color:white;
}

.controls{
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    
}

.control{
    margin:1rem  1rem 0 1rem;
    width:7rem;
}


@media only screen and (max-width: 600px) {
    .deck-wrapper {
      width:500px
    }
  }