body {
    background-color: #e6c984;
    
  }
h2{
    margin-top: 12.5vh;
    font-size: 2.5rem;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
.deck-wrapper{
    
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.col-border{
    box-shadow: -3px 0px 0px 0px   rgb(102, 70, 49);
}
.col-last{
    box-shadow: 3px 0px 0px 0px   rgb(102, 70, 49);
}
.row-1{
    border-top:solid 3px rgb(102, 70, 49);
}
.row-3{
    border-bottom: solid 3px rgb(102, 70, 49);
}

.col{
    padding: 20px 20px 20px;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    border: solid rgb(146, 112, 68) 1px;
    
    /* border-collapse: collapse; */

    font-size: 16px;
}

.input-box{
    width:3rem;
    aspect-ratio: 1;
    text-align: center;
    border: none;
    background-color: #ce9560;
    font-size: 1.5rem;
    font-family: 'Courier New', Courier, monospace;
    color :#e0daa9;
}

:focus { outline: none; }

.page-footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(52, 51, 68);
    color: white;
    text-align: center;;
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
}

.play-btn{
    font-size: 1.75rem;
    font-family: 'Courier New', Courier, monospace;
}

.fa-lg{
    color:white;
}